@use "./../../abstract/variables" as var;
@use "./../../base/typography";

#mainContact{
    width: 100%;
    height: auto;
    padding: 100px;
    h1{
        text-align: center;
        letter-spacing: 1px;
        color: var.$color-black;
        font-size: 32px;
        padding-bottom: 36px;
        position: relative;
        &::after{
            top: 20px;
            rotate: 0deg;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            position: absolute;
            content: "";
            width: 230px;
            height: 24px;
            background-color: var.$color-purple;
        }
    }
    form{
        font-family: Inria;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        background-color: white;
        border: dashed 1px var.$color-dark-cofe;
        box-shadow: 24px 24px var.$color-black;
        padding: 50px;
        margin-bottom: 32px;
        margin-left: 50%;
        transform: translateX(-50%);
        >div{
            display: flex;
            width: 100%;
            justify-content: space-around;
            >div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 250px;
                input{
                    width: 250px;
                }
            }
        }
        label{
            font-size: 18px;
            padding-bottom: 4px;
        }
        input{
            width: 250px;
            text-align: center;
            width: 150px;
            margin-bottom: 24px;
            padding: 8px 0px;
            border-radius: 6px;
            border: dashed 1px var.$color-dark-cofe;
            font-size: 16px;
            letter-spacing: 2px;
            &::placeholder{
                font-size: 16px;
                letter-spacing: 1px;
                color: var.$color-dark-cofe;
                font-family: Inria;
            }
        }
        #formInputEmail{
            width: 250px;
            text-align: center;
        }
        select{
            width: 250px;
            margin-bottom: 24px;
            padding: 8px 32px;
            border-radius: 6px;
            border: solid 1px var.$color-dark-cofe;
            color: var.$color-black;
            option{
                color: var.$color-black;
            }
        }
        textarea{
            width: 400px;
            border: dashed 1px var.$color-dark-cofe;
            border-radius: 6px;
            text-align: center;
            padding: 8px;
            color: var.$color-black;
            font-size: 16px;
            margin-bottom: 32px;
            &::placeholder{
                color: var.$color-dark-cofe;
            }
        }
        button{
            padding: 8px 32px;
            font-size: 18px;
            cursor: pointer;
            transition: 0.3s;
            font-family: Inria;
            border-radius: 6px;
            background-color: var.$color-cofe;
            border: solid 1px var.$color-dark-cofe;
            color: var.$color-black;
            &:hover{
                border: solid 1px var.$color-dark-cofe;
                background-color: var.$color-dark-cofe;
            }
        }
    }
    p:nth-of-type(1){
        text-align: center;
        font-size: 24px;
        display: block;
        
    }
    p{
        text-align: center;
    }
    a{
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 2px;
        color: var.$color-black;
        position: relative;
        color: var.$color-black;
        text-decoration: none;
    }
    a::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: -10px;
        width: 0;
        height: 24px;
        background-color: var.$color-purple;
        transition: width 0.3s ease;
        z-index: -1;
    }
    a:hover::after {
        width: 110%;
    }
}