@font-face {
    font-family: IndieFlower;
    src: url(./../fonts/IndieFlower/IndieFlower-Regular.ttf);
}

@font-face {
    font-family: Inria;
    src: url(./../fonts/Inria/InriaSans-Regular.ttf);
}