@use "./../abstract/variables" as var;
@use "./../base/typography";



@media screen and (max-width:(1550px)){
    #mainIllustration{
        overflow: hidden;
        padding: 100px 25px 50px;
        #images-container{
            padding: 0px 10px;
        }
    }

    #mainBandeDessinee{
        overflow: hidden;
        padding: 100px 25px 50px;
        #images-container{
            padding: 0px 10px;
        }
    }

    #mainTatouage{
        overflow: hidden;
        padding: 100px 25px 50px;
        #images-container{
            padding: 0px 10px;
        }
    }

    #mainContact{
        form{
            width: 60%;
            >div{
                >div{
                    input{
                        width: 190px;
                    }
                }
            }
            textarea{
                width: 350px;
            }
        }
    }
}

@media screen and (max-width:(1425px)){
    #mainIllustration{
        #images-container{
            img{
                width: 280px;
                height: 280px;
            }
        }
    }

    #mainBandeDessinee{
        #images-container{
            img{
                width: 280px;
                height: 280px;
            }
        }
    }

    #mainTatouage{
        #images-container{
            img{
                width: 280px;
                height: 280px;
            }
        }
    }
}

@media screen and (max-width:(1200px)){
    #mainIndex{
        >div{
            margin: 50px;
            width: calc( 100% - 100px);
            height: calc( 100% - 100px);
            p{
                width: 80%;
            }
        }
    }

    #mainContact{
        padding: 100px 50px;
        form{
            width: 70%;
            >div{
                >div{
                    input{
                        width: 190px;
                    }
                }
            }
            textarea{
                width: 350px;
            }
        }
    }
}

@media screen and (max-width:(1000px)){
    #mainIllustration{
        #images-container{
            img{
                width: 240px;
                height: 240px;
            }
        }
    }

    #mainBandeDessinee{
        #images-container{
            img{
                width: 240px;
                height: 240px;
            }
        }
    }

    #mainTatouage{
        #images-container{
            img{
                width: 240px;
                height: 240px;
            }
        }
    }

    #mainContact{
        padding: 100px 25px;
    }
}

@media screen and (max-width:(900px)){
    body{
        display: initial;
    }
    header{
        padding: 25px 50px;
        nav{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: auto;
            ul{
                margin-top: 16px;
                display: none;
                li{
                    text-align: end;
                }
            }
            #ulBurger.active {
                display: flex;
            }
            >div{
                >div{
                    display: flex;
                }
                #menuBurger.menuClose{
                    >div:nth-of-type(1){
                        rotate: 45deg;
                        margin-top: 16px;
                        height: 8px;
                    }
                    >div:nth-of-type(2){
                        display: none;
                    }
                    >div:nth-of-type(3){
                        rotate: -45deg;
                        margin-bottom: 16px;
                        height: 8px;
                    }
                }
            }
        }
    }

    #mainIndex{
        height: calc(100vh - 222px);
        >div{
            margin: 0px;
            width: 100%;
            height: 100%;
            p{
                width: 80%;
                top: 35%;
            }
        }
    }

    #mainIllustration{
        padding: 50px 0px;
        #images-container{
            padding: 0px 10px;
            img{
                width: 270px;
                height: 270px;
            }
        }
        #btn-close {
            top: 8px;
            right: 8px;
        }
        #btn-left {
            left: 8px;
            top: 50%;
        }
        #btn-right {
            right: 8px;
            top: 50%;
        }
    }

    #mainBandeDessinee{
        padding: 50px 0px;
        #images-container{
            padding: 0px 10px;
            img{
                width: 270px;
                height: 270px;
            }
        }
        #btn-close {
            top: 8px;
            right: 8px;
        }
        #btn-left {
            left: 8px;
            top: 50%;
        }
        #btn-right {
            right: 8px;
            top: 50%;
        }
    }

    #mainTatouage{
        padding: 50px 0px;
        #images-container{
            padding: 0px 10px;
            img{
                width: 270px;
                height: 270px;
            }
        }
        #btn-close {
            top: 8px;
            right: 8px;
        }
        #btn-left {
            left: 8px;
            top: 50%;
        }
        #btn-right {
            right: 8px;
            top: 50%;
        }
    }

    #mainContact{
        padding: 50px 0px;
        section{
            padding: 0px 25px;
            form{
                width: 80%;
                >div{
                    gap: 10px;
                    >div{
                        input{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:(575px)){
    header{
        nav{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            >div{
                align-items: center;   
            }
            ul{
                justify-content: center;
                align-items: center;
                li{
                    text-align: center;
                }
            }
        }
    }

    #mainIndex{
        >div{
            p{
                font-size: 20px;
                top: 25%;
                width: 85%;
            }
        }
    }
    #mainIllustration{
        #images-container{
            padding: 0px 10px;
            img{
                width: 100%;
                height: 500px;
                &:hover{
                    transform: scale(1);
                }
            }
        }
        #btn-close {
            color: var.$color-purple;
        }
        #btn-left {
            color: var.$color-purple;
        }
        #btn-right {
            color: var.$color-purple;
        }
    }

    #mainBandeDessinee{
        #images-container{
            padding: 0px 10px;
            img{
                width: 100%;
                height: 500px;
                &:hover{
                    transform: scale(1);
                }
            }
        }
        #btn-close {
            color: var.$color-purple;
        }
        #btn-left {
            color: var.$color-purple;
        }
        #btn-right {
            color: var.$color-purple;
        }
    }

    #mainTatouage{
        #images-container{
            padding: 0px 10px;
            img{
                width: 100%;
                height: 500px;
                &:hover{
                    transform: scale(1);
                }
            }
        }
        #btn-close {
            color: var.$color-purple;
        }
        #btn-left {
            color: var.$color-purple;
        }
        #btn-right {
            color: var.$color-purple;
        }
    }

    #mainContact{
        padding: 50px 0px;
        section{
            padding: 0px 0px;
            form{
                width: 85%;
                padding: 25px;
                align-items: start;
                box-shadow: none;
                >div{
                    width: 350px;
                    flex-direction: column;
                    align-items: start;
                    gap: 0px;
                    >div{
                        align-items: start;
                        width: 100%;
                        label{
                            text-align: start;
                        }
                        input{
                            width: 100%;
                            text-align: start;
                            &::placeholder{
                                padding: 0px 16px;
                                text-align: start;
                            }
                        }
                    }
                }
                input{
                    width: 350px;
                    &::placeholder{
                        padding: 0px 16px;
                        text-align: start;
                    }
                }
                #formInputEmail{
                    width: 350px;
                }
                select{
                    width: 350px;
                    padding: 8px 16px;
                }
                textarea{
                    width: 350px;
                    height: 150px;
                    &::placeholder{
                        padding: 8px 16px;
                        text-align: start;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:(450px)){
    #mainIllustration{
        #images-container{
            padding: 0px;
            img{
                height: 400px;
            }
        }
    }

    #mainBandeDessinee{
        #images-container{
            padding: 0px;
            img{
                height: 400px;
            }
        }
    }

    #mainTatouage{
        #images-container{
            padding: 0px;
            img{
                height: 400px;
            }
        }
    }

    #mainContact{
        section{
            form{
                >div{
                    width: 300px;
                }
                select{
                    width: 300px;
                }
                #formInputEmail{
                    width: 300px;
                }
                textarea{
                    width: 300px;
                }
            }
        }
    }
}