* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: IndieFlower;
  src: url(./../fonts/IndieFlower/IndieFlower-Regular.ttf);
}
@font-face {
  font-family: Inria;
  src: url(./../fonts/Inria/InriaSans-Regular.ttf);
}
body {
  font-family: IndieFlower;
  background-color: #E2CDB0;
  display: flex;
}

header {
  padding: 100px 50px 20px;
  border-right: solid 1px #B99768;
  box-shadow: 0px 4px 16px 4px #B99768;
}
header a {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #333333;
  position: relative;
  color: #333333;
  text-decoration: none;
}
header a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -10px;
  width: 0;
  height: 24px;
  background-color: #AEADF0;
  transition: width 0.3s ease;
  z-index: -1;
}
header a:hover::after {
  width: 110%;
}
header nav {
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
}
header nav h2 {
  padding-bottom: 32px;
}
header nav h2 a {
  font-size: 36px;
  color: #333333;
  letter-spacing: 2px;
}
header nav ul {
  display: flex;
  flex-direction: column;
}
header nav ul li {
  padding-bottom: 8px;
  display: block;
  width: 230px;
}
header nav p {
  font-family: Inria;
  font-size: 14px;
  margin-top: auto;
}

#mainIndex {
  width: 100%;
  height: auto;
}
#mainIndex > div {
  margin: 100px;
  position: relative;
  z-index: 2;
  width: calc(100% - 200px);
  height: calc(100% - 200px);
}
#mainIndex > div > #background {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}
#mainIndex > div p {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333333;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 24px;
  text-align: center;
}

#mainContact {
  width: 100%;
  height: auto;
  padding: 100px;
}
#mainContact h1 {
  text-align: center;
  letter-spacing: 1px;
  color: #333333;
  font-size: 32px;
  padding-bottom: 36px;
  position: relative;
}
#mainContact h1::after {
  top: 20px;
  rotate: 0deg;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  position: absolute;
  content: "";
  width: 230px;
  height: 24px;
  background-color: #AEADF0;
}
#mainContact form {
  font-family: Inria;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: white;
  border: dashed 1px #B99768;
  box-shadow: 24px 24px #333333;
  padding: 50px;
  margin-bottom: 32px;
  margin-left: 50%;
  transform: translateX(-50%);
}
#mainContact form > div {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
#mainContact form > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
}
#mainContact form > div > div input {
  width: 250px;
}
#mainContact form label {
  font-size: 18px;
  padding-bottom: 4px;
}
#mainContact form input {
  width: 250px;
  text-align: center;
  width: 150px;
  margin-bottom: 24px;
  padding: 8px 0px;
  border-radius: 6px;
  border: dashed 1px #B99768;
  font-size: 16px;
  letter-spacing: 2px;
}
#mainContact form input::placeholder {
  font-size: 16px;
  letter-spacing: 1px;
  color: #B99768;
  font-family: Inria;
}
#mainContact form #formInputEmail {
  width: 250px;
  text-align: center;
}
#mainContact form select {
  width: 250px;
  margin-bottom: 24px;
  padding: 8px 32px;
  border-radius: 6px;
  border: solid 1px #B99768;
  color: #333333;
}
#mainContact form select option {
  color: #333333;
}
#mainContact form textarea {
  width: 400px;
  border: dashed 1px #B99768;
  border-radius: 6px;
  text-align: center;
  padding: 8px;
  color: #333333;
  font-size: 16px;
  margin-bottom: 32px;
}
#mainContact form textarea::placeholder {
  color: #B99768;
}
#mainContact form button {
  padding: 8px 32px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  font-family: Inria;
  border-radius: 6px;
  background-color: #E2CDB0;
  border: solid 1px #B99768;
  color: #333333;
}
#mainContact form button:hover {
  border: solid 1px #B99768;
  background-color: #B99768;
}
#mainContact p:nth-of-type(1) {
  text-align: center;
  font-size: 24px;
  display: block;
}
#mainContact p {
  text-align: center;
}
#mainContact a {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #333333;
  position: relative;
  color: #333333;
  text-decoration: none;
}
#mainContact a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -10px;
  width: 0;
  height: 24px;
  background-color: #AEADF0;
  transition: width 0.3s ease;
  z-index: -1;
}
#mainContact a:hover::after {
  width: 110%;
}

#mainIllustration {
  width: 100%;
  height: auto;
  padding: 100px;
}
#mainIllustration h1 {
  text-align: center;
  font-size: 32px;
  letter-spacing: 1px;
  color: #333333;
  padding-bottom: 50px;
  position: relative;
}
#mainIllustration h1::after {
  top: 20px;
  rotate: 0deg;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  position: absolute;
  content: "";
  width: 200px;
  height: 24px;
  background-color: #AEADF0;
}
#mainIllustration #images-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}
#mainIllustration #images-container img {
  width: 330px;
  height: 330px;
  cursor: pointer;
  transition: 0.1s;
  border: solid 1px rgba(255, 255, 255, 0);
}
#mainIllustration #images-container img:hover {
  transform: scale(1.05);
  border: solid 1px #AEADF0;
}
#mainIllustration #container-show-image {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mainIllustration #container-show-image.hidden {
  display: none;
}
#mainIllustration #container-show-image img {
  max-width: 90%;
  max-height: 90%;
}
#mainIllustration #btn-close, #mainIllustration #btn-left, #mainIllustration #btn-right {
  position: absolute;
  background: none;
  border: none;
  color: white;
  font-size: 32px;
  cursor: pointer;
  z-index: 25;
  transition: 0.2s;
}
#mainIllustration #btn-close:hover, #mainIllustration #btn-left:hover, #mainIllustration #btn-right:hover {
  color: #AEADF0;
}
#mainIllustration #btn-close {
  top: 24px;
  right: 48px;
}
#mainIllustration #btn-left {
  left: 48px;
  top: 50%;
}
#mainIllustration #btn-right {
  right: 56px;
  top: 50%;
}

#mainBandeDessinee {
  width: 100%;
  height: auto;
  padding: 100px;
}
#mainBandeDessinee h1 {
  text-align: center;
  font-size: 32px;
  letter-spacing: 1px;
  color: #333333;
  padding-bottom: 50px;
  position: relative;
}
#mainBandeDessinee h1::after {
  top: 20px;
  rotate: 0deg;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  position: absolute;
  content: "";
  width: 300px;
  height: 24px;
  background-color: #AEADF0;
}
#mainBandeDessinee #images-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}
#mainBandeDessinee #images-container img {
  width: 330px;
  height: 330px;
  cursor: pointer;
  transition: 0.1s;
  border: solid 1px rgba(255, 255, 255, 0);
}
#mainBandeDessinee #images-container img:hover {
  transform: scale(1.05);
  border: solid 1px #AEADF0;
}
#mainBandeDessinee #container-show-image {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mainBandeDessinee #container-show-image.hidden {
  display: none;
}
#mainBandeDessinee #container-show-image img {
  max-width: 90%;
  max-height: 90%;
}
#mainBandeDessinee #btn-close, #mainBandeDessinee #btn-left, #mainBandeDessinee #btn-right {
  position: absolute;
  background: none;
  border: none;
  color: white;
  font-size: 32px;
  cursor: pointer;
  z-index: 25;
  transition: 0.2s;
}
#mainBandeDessinee #btn-close:hover, #mainBandeDessinee #btn-left:hover, #mainBandeDessinee #btn-right:hover {
  color: #AEADF0;
}
#mainBandeDessinee #btn-close {
  top: 24px;
  right: 48px;
}
#mainBandeDessinee #btn-left {
  left: 48px;
  top: 50%;
}
#mainBandeDessinee #btn-right {
  right: 56px;
  top: 50%;
}

#mainTatouage {
  width: 100%;
  height: auto;
  padding: 100px;
}
#mainTatouage h1 {
  text-align: center;
  font-size: 32px;
  letter-spacing: 1px;
  color: #333333;
  padding-bottom: 50px;
  position: relative;
}
#mainTatouage h1::after {
  top: 20px;
  rotate: 0deg;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  position: absolute;
  content: "";
  width: 180px;
  height: 24px;
  background-color: #AEADF0;
}
#mainTatouage #images-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}
#mainTatouage #images-container img {
  width: 330px;
  height: 330px;
  cursor: pointer;
  transition: 0.1s;
  border: solid 1px rgba(255, 255, 255, 0);
}
#mainTatouage #images-container img:hover {
  transform: scale(1.05);
  border: solid 1px #AEADF0;
}
#mainTatouage #container-show-image {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mainTatouage #container-show-image.hidden {
  display: none;
}
#mainTatouage #container-show-image img {
  max-width: 90%;
  max-height: 90%;
}
#mainTatouage #btn-close, #mainTatouage #btn-left, #mainTatouage #btn-right {
  position: absolute;
  background: none;
  border: none;
  color: white;
  font-size: 32px;
  cursor: pointer;
  z-index: 25;
  transition: 0.2s;
}
#mainTatouage #btn-close:hover, #mainTatouage #btn-left:hover, #mainTatouage #btn-right:hover {
  color: #AEADF0;
}
#mainTatouage #btn-close {
  top: 24px;
  right: 48px;
}
#mainTatouage #btn-left {
  left: 48px;
  top: 50%;
}
#mainTatouage #btn-right {
  right: 56px;
  top: 50%;
}

@media screen and (max-width: 1550px) {
  #mainIllustration {
    overflow: hidden;
    padding: 100px 25px 50px;
  }
  #mainIllustration #images-container {
    padding: 0px 10px;
  }
  #mainBandeDessinee {
    overflow: hidden;
    padding: 100px 25px 50px;
  }
  #mainBandeDessinee #images-container {
    padding: 0px 10px;
  }
  #mainTatouage {
    overflow: hidden;
    padding: 100px 25px 50px;
  }
  #mainTatouage #images-container {
    padding: 0px 10px;
  }
  #mainContact form {
    width: 60%;
  }
  #mainContact form > div > div input {
    width: 190px;
  }
  #mainContact form textarea {
    width: 350px;
  }
}
@media screen and (max-width: 1425px) {
  #mainIllustration #images-container img {
    width: 280px;
    height: 280px;
  }
  #mainBandeDessinee #images-container img {
    width: 280px;
    height: 280px;
  }
  #mainTatouage #images-container img {
    width: 280px;
    height: 280px;
  }
}
@media screen and (max-width: 1200px) {
  #mainIndex > div {
    margin: 50px;
    width: calc(100% - 100px);
    height: calc(100% - 100px);
  }
  #mainIndex > div p {
    width: 80%;
  }
  #mainContact {
    padding: 100px 50px;
  }
  #mainContact form {
    width: 70%;
  }
  #mainContact form > div > div input {
    width: 190px;
  }
  #mainContact form textarea {
    width: 350px;
  }
}
@media screen and (max-width: 1000px) {
  #mainIllustration #images-container img {
    width: 240px;
    height: 240px;
  }
  #mainBandeDessinee #images-container img {
    width: 240px;
    height: 240px;
  }
  #mainTatouage #images-container img {
    width: 240px;
    height: 240px;
  }
  #mainContact {
    padding: 100px 25px;
  }
}
@media screen and (max-width: 900px) {
  body {
    display: initial;
  }
  header {
    padding: 25px 50px;
  }
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
  }
  header nav ul li {
    text-align: end;
  }
  #mainIndex {
    height: calc(100vh - 222px);
  }
  #mainIndex > div {
    margin: 0px;
    width: 100%;
    height: 100%;
  }
  #mainIndex > div p {
    width: 80%;
    top: 35%;
  }
  #mainIllustration {
    padding: 50px 0px;
  }
  #mainIllustration #images-container {
    padding: 0px 10px;
  }
  #mainIllustration #images-container img {
    width: 270px;
    height: 270px;
  }
  #mainIllustration #btn-close {
    top: 8px;
    right: 8px;
  }
  #mainIllustration #btn-left {
    left: 8px;
    top: 50%;
  }
  #mainIllustration #btn-right {
    right: 8px;
    top: 50%;
  }
  #mainBandeDessinee {
    padding: 50px 0px;
  }
  #mainBandeDessinee #images-container {
    padding: 0px 10px;
  }
  #mainBandeDessinee #images-container img {
    width: 270px;
    height: 270px;
  }
  #mainBandeDessinee #btn-close {
    top: 8px;
    right: 8px;
  }
  #mainBandeDessinee #btn-left {
    left: 8px;
    top: 50%;
  }
  #mainBandeDessinee #btn-right {
    right: 8px;
    top: 50%;
  }
  #mainTatouage {
    padding: 50px 0px;
  }
  #mainTatouage #images-container {
    padding: 0px 10px;
  }
  #mainTatouage #images-container img {
    width: 270px;
    height: 270px;
  }
  #mainTatouage #btn-close {
    top: 8px;
    right: 8px;
  }
  #mainTatouage #btn-left {
    left: 8px;
    top: 50%;
  }
  #mainTatouage #btn-right {
    right: 8px;
    top: 50%;
  }
  #mainContact {
    padding: 50px 0px;
  }
  #mainContact section {
    padding: 0px 25px;
  }
  #mainContact section form {
    width: 80%;
  }
  #mainContact section form > div {
    gap: 10px;
  }
  #mainContact section form > div > div input {
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  header nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header nav ul {
    justify-content: center;
    align-items: center;
  }
  header nav ul li {
    text-align: center;
  }
  #mainIndex > div p {
    font-size: 20px;
    top: 25%;
    width: 85%;
  }
  #mainIllustration #images-container {
    padding: 0px 10px;
  }
  #mainIllustration #images-container img {
    width: 100%;
    height: 500px;
  }
  #mainIllustration #images-container img:hover {
    transform: scale(1);
  }
  #mainIllustration #btn-close {
    color: #AEADF0;
  }
  #mainIllustration #btn-left {
    color: #AEADF0;
  }
  #mainIllustration #btn-right {
    color: #AEADF0;
  }
  #mainBandeDessinee #images-container {
    padding: 0px 10px;
  }
  #mainBandeDessinee #images-container img {
    width: 100%;
    height: 500px;
  }
  #mainBandeDessinee #images-container img:hover {
    transform: scale(1);
  }
  #mainBandeDessinee #btn-close {
    color: #AEADF0;
  }
  #mainBandeDessinee #btn-left {
    color: #AEADF0;
  }
  #mainBandeDessinee #btn-right {
    color: #AEADF0;
  }
  #mainTatouage #images-container {
    padding: 0px 10px;
  }
  #mainTatouage #images-container img {
    width: 100%;
    height: 500px;
  }
  #mainTatouage #images-container img:hover {
    transform: scale(1);
  }
  #mainTatouage #btn-close {
    color: #AEADF0;
  }
  #mainTatouage #btn-left {
    color: #AEADF0;
  }
  #mainTatouage #btn-right {
    color: #AEADF0;
  }
  #mainContact {
    padding: 50px 0px;
  }
  #mainContact section {
    padding: 0px 0px;
  }
  #mainContact section form {
    width: 85%;
    padding: 25px;
    align-items: start;
    box-shadow: none;
  }
  #mainContact section form > div {
    width: 350px;
    flex-direction: column;
    align-items: start;
    gap: 0px;
  }
  #mainContact section form > div > div {
    align-items: start;
    width: 100%;
  }
  #mainContact section form > div > div label {
    text-align: start;
  }
  #mainContact section form > div > div input {
    width: 100%;
    text-align: start;
  }
  #mainContact section form > div > div input::placeholder {
    padding: 0px 16px;
    text-align: start;
  }
  #mainContact section form input {
    width: 350px;
  }
  #mainContact section form input::placeholder {
    padding: 0px 16px;
    text-align: start;
  }
  #mainContact section form #formInputEmail {
    width: 350px;
  }
  #mainContact section form select {
    width: 350px;
    padding: 8px 16px;
  }
  #mainContact section form textarea {
    width: 350px;
    height: 150px;
  }
  #mainContact section form textarea::placeholder {
    padding: 8px 16px;
    text-align: start;
  }
}
@media screen and (max-width: 450px) {
  #mainIllustration #images-container {
    padding: 0px;
  }
  #mainIllustration #images-container img {
    height: 400px;
  }
  #mainBandeDessinee #images-container {
    padding: 0px;
  }
  #mainBandeDessinee #images-container img {
    height: 400px;
  }
  #mainTatouage #images-container {
    padding: 0px;
  }
  #mainTatouage #images-container img {
    height: 400px;
  }
  #mainContact section form > div {
    width: 300px;
  }
  #mainContact section form select {
    width: 300px;
  }
  #mainContact section form #formInputEmail {
    width: 300px;
  }
  #mainContact section form textarea {
    width: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
